</main>
<script>
  const togglePasswordView = () => {
    const p = document.getElementById("password");
    const i = document.getElementById('password-icon');
    if (p.type === "password") {
      p.type = "text";
      i.src = "../../eye-64.png";
    }
    else {
      p.type = "password";
      i.src = "../../hide-64.png";
    }
  };
</script>
</body>
</html>