<nav class="navbar">
  <div class="navbar-content">
    <a class="navbar-title" href="/">RBAC</a>
    <ul class="navbar-menu">
      <li class="navbar-menu_link"><a href="/">Home</a> </li>
      <% if (user) { %>
      <li class="navbar-menu_link"><a href="/profile">Profile</a> </li>
      <% if (currentUser.role === 'ADMIN' || currentUser.role === 'SUPER_ADMIN') { %>
      <li class="navbar-menu_link"><a href="/admin/user">Permissions</a> </li>
      <% } %>
      <li class="navbar-menu_link"><a href="/auth/logout">Logout</a> </li>
      <% } else { %>
      <li class="navbar-menu_link"><a href="/auth/login">Login</a> </li>
      <% } %>
    </ul>
  </div>
</nav>