<%- include('./includes/header.ejs') %>

<section class="card card-content">
  <h1 class="title">My Account</h1>
  <pre>
    <%= account? %>
  </pre>
</section>

<%- include('./includes/footer.ejs') %>