<%- include ('includes/header') %>
<h2>Oh Oh, it appears we took a wrong turn</h2>
<h2>But no worries, I now a way <span onclick="window.history.back()" class="link">Back</span></h2>
<a href="/">Go Home</a>
<%- include ('includes/footer') %>