<%- include('./includes/header.ejs') %>
<section class="card">
  <h1 class="title">Role Based Access Control (RBAC)</h1>
  <p> This project was built to gain an in-depth understanding of the Authentication process and the
    added complexity of adding Role Based Access Control (RBAC) at a production level. While doing so, I was able to
    learn
    and explore several key libraries and concepts. Some of the most noticeable features include: </p>
  <ul>
    <li>Node/Express SSR with EJS template engine</li>
    <li>MongoDB database with Accounts that hold/manage users and their permissions</li>
    <li>MongoDB Store and sessions collection to ensure session persistance</li>
    <li>
      The ability to Create, Read, Update, and Delete (CRUD)
      <ul>
        <li> Accounts</li>
        <li> Users</li>
        <li> Roles</li>
      </ul>
    </li>
    <li>The ability to Validate user inputs and enhance data integrity</li>
    <li></li>
    <li></li>
  </ul>
  <p>while doing my best to implement industry accepted best practices and </p>
</section>

<%- include('./includes/footer.ejs') %>