<%- include('./layouts/header.ejs') %>

<h1 class="title">Login</h1>
<form action="/auth/login" method="post" class="form">
  <div class="form-item">
    <label class="form-lable" for="email">Email/Username</label>
    <input class="form-input" type="email" name="email" id="email">
  </div>
  <div class="form-item">
    <label class="form-label" for="password">Password</label>
    <input class="form-passsword" type="password" name="password" id="password">
  </div>
  <div>
    <button class="form-button" type="submit">Login</button>
  </div>
</form>
<div>
  <p>Need an account? <span><a href="/auth/register">Register here</a>.</span></p>
</div>

<%- include('./layouts/footer.ejs') %>