<%- include('./includes/header.ejs') %>

<h1 class="title">Welcome, How would you like to log in today?</h1>

<section class="content">

  <div class="card">
    <section class="o-auth">
      <a type="button" href="/auth/google" class="button--o-auth">Log In with Google</a>
      <a type="button" href="/auth/google" class="button--o-auth">Log In with Facebook</a>
      <a type="button" href="/auth/google" class="button--o-auth">Log In with Instagram</a>
      <a type="button" href="/auth/google" class="button--o-auth">Log In with Github</a>
    </section>
  </div>
  <h2 class="divider">OR</h2>
  <div class="card">
    <form action="/auth/login" method="post" class="form">
      <h2 class="form-title">Log In with Email</h2>
      <div class="form-item">
        <label class="form-label" for="email">Email/Username</label>
        <input class="form-input" type="email" name="email" id="email" placeholder="Email">
      </div>
      <div class="form-item">
        <label class="form-label" for="password">Password</label>
        <div class="password">
          <input class="password-input" type="password" name="password" id="password" placeholder="Password">
          <img src="../../image/hide-64.png" alt="Show password icon" onclick="togglePasswordView()"
            class="password-icon" id="password-icon">
        </div>
      </div>
      <div>
        <button class="button button--form" type="submit">Login</button>
      </div>
      <div>
        <p>Need an account? <span><a href="/auth/register">Register here</a>.</span></p>
      </div>
  </div>
</section>

<%- include('./includes/footer.ejs') %>