@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans';
  margin: auto;
  font-weight: 500;
  background: #ffeeff;
  color: #323232;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin: auto;
}

a {
  all: unset;
  color: purple;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  border-bottom: 2px solid purple;
}

li>a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

li>a:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: purple;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .26);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  max-width: 160rem;
  padding: 0 1rem 0 0.5rem;
}

.navbar-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  padding: .75rem 1rem 0.75rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  color: #ebebeb;
  flex-wrap: wrap;
}

.navbar-menu_link {
  display: inline-block;
  padding: 1rem 1rem 0.25rem;
}

.title {
  margin: 1em;
}

.content {
  display: flex;
  align-items: center;
}

/* forms */
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .26);
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 2rem;
  background-color: #fff;
}

.o-auth {
  display: flex;
  flex-direction: column;
}

.o-auth-button {
  padding: 1em 2em;
  background: purple;
  color: white;
  margin: 0.5em 0;
  border-radius: .25rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .26);
}

.o-auth-button:hover {
  text-decoration: none;
  border: none;
  background-color: rgb(165, 4, 165);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, .26);
}

.form {}

.form-title {
  font-size: 1.5rem;
  color: purple;
  margin-bottom: 1rem;
}

.form-item {
  padding: 0.5rem 0;
  font-size: 1rem;
}

.form-label {
  display: block;
  color: rgb(32, 32, 32);
  margin-bottom: .25rem;
}

.form-input,
.password-input {
  line-height: 2.25rem;
  width: 100%;
  font-family: inherit;
  padding: 0 0.5rem;
  border: none;
  border-radius: .5em;
  box-shadow: 0px 0px 8px inset rgba(128, 0, 128, .16);
}

.password {
  display: inline-block;
  position: relative;
  width: 100%;
}

.form-password {
  /* background: no-repeat url('./eye-64.png') right / 10%; */
  /* background-position-x: 1em; */
}

.password-icon {
  cursor: pointer;
  position: absolute;
  width: 1.5em;
  top: 0.35em;
  right: 0.5em;
}

.form-input:focus,
.password-input:focus {
  /* outline: none; */
  outline: 2px solid rgba(128, 0, 128, 0.6);
}

.form-button {
  border: none;
  background-color: purple;
  color: #ffeeff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .26);
  border-radius: .25em;
  margin: 1em 0;
  padding: 0.75em 1em;
  font-weight: 600;
  width: 100%;
  font-size: 1.1rem;
}

.form-button:hover {
  background-color: rgb(165, 4, 165);
  color: #ffffff;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, .26);
  cursor: pointer;
}

/* Profile */
.profile-title {
  font-size: 1.5rem;
}

.profile-label {
  display: block;
  font-weight: 600;
  margin: 1rem 0.5rem 0;
  color: purple;
}

.profile-value {
  margin: 0.5rem 0.5rem;
  font-weight: 400;
}

.go-back {
  margin-right: 0.5rem;
  margin-left: -0.5rem;
  padding: 0.5rem;
  color: purple;
  border-radius: 50%;
}

.go-back:hover,
.go-back:active {
  cursor: pointer;
  color: rgb(165, 4, 165);
  background-color: #ffeeff;
  box-shadow: 2px 2px 2px rgba(128, 0, 128, 0.16);
}

.flash-message {}

.flash-message__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25em;
}

.warning,
.info,
.success,
.error {
  padding: 0.5em 1em;
  border-radius: .25em;
  margin: 0.125em;
}

.warning {
  background-color: #ffe032;
}

.info {
  background-color: purple;
  color: #fff;
}

.success {
  background-color: #28af2f;
  color: #fff;
}

.error {
  background-color: #c91818;
  color: #fff;
}